/* css work on down to top priority 
    example:
*/
* {
    color:blue;
}

h1{
    color:brown;
}

#myid{
    color: violet;
}

.myclass{
    color: purple;
}

strong {
    color: orange;
}

p {
    color: green;
}

/* Id: It should be unique like student has unique id in college
   class: It can be common like all student has common class like class A,B etc */